.table-container {
  border: 2px solid lightgrey;
  border-spacing: 0;
  margin-top: 16px;
  border-radius: 3px;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  table-layout: fixed;
}

th {
  background: #2F85AB;
  color: white;
  text-align: left;
  font-weight: 500;
  padding: 12px;
}

td {
  padding: 12px;
}

.total-row {
  border-top: 2px solid rgba(47, 133, 171, .7);
}

.total-label {
  font-weight: bold;
}

