<div class="currency-controls">
  <app-currency-dropdown [options]="currencyOptions"
                         [initialValue]="daCurrency.currency"
                         (currencySelected)="updateSelectedCurrency($event)"></app-currency-dropdown>
  <app-base-to-current-display [baseCurrency]="baseCurrency"
                               [selectedCurrency]="daCurrency.currency"></app-base-to-current-display>
</div>

<div>
  <app-cost-table *ngFor="let itemCost of costs" [cost]="itemCost"></app-cost-table>
</div>

