.controls-container {
  background-color: rgba(47, 133, 171, 0.15);
  padding-inline: 12px;
  padding-bottom: 18px;
}

.chip{
  display: inline-flex;
  flex-direction: row;
  border: 1px solid rgba(47, 133, 171, .7);
  background-color: white;
  cursor: default;
  outline: none;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  align-items: center;
  border-radius: 32px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}

.chip.external {
  background-color: #153c4f;
}

.chip-content{
  cursor: inherit;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-inline: 8px;
  padding-block: 2px;
}

.chip-content.external {
  color: white;
}

table {
  /*width: 50%;*/
  /*table-layout: fixed;*/
}

td {
  text-align: start;
  padding-right: 32px;
}

td.content-light {
  font-weight: 500;
  opacity: 0.7;
}

td.end {
  text-align: end;
  padding-left: 12px;
  padding-right: 0;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-controls-container {
  display: flex;
  align-items: center;
}

.comment-form-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  background-color: transparent;
}
