<div class="controls-container">
  <ng-container *ngFor="let comment of comments">
    <div class="comment-container">
      <table>
        <tr>
          <td>
            <div [class]="comment.type === commentTypes.External ? 'chip external' : 'chip'">
              <div [class]="comment.type === commentTypes.External ? 'chip-content external' : 'chip-content'">
                {{comment.type}}
              </div>
            </div>
          </td>
          <td class="content-light">{{comment.comment}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="end"><h4>{{comment.author}}</h4></td>
          <td class="end content-light">{{comment.date | date: "dd MMMM yyyy HH:mm"}}</td>
          <td class="end">
            <div class="comment-controls-container">
              <button class="icon-button" type="button" disabled>
                <img src="assets/ic_edit_24px.svg" alt="none">
              </button>
              <button class="icon-button" type="button" disabled>
                <img src="assets/ic_delete_24px.svg" alt="none">
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
  <hr>
  <div class="comment-form-container">
    <div class="cselect disabled">
      <select disabled>
        <option>Select comment type</option>
      </select>
    </div>
    <input disabled placeholder="Type comment">
    <button disabled type="button">Add</button>
  </div>
</div>
