/* You can add global styles to this file, and also import other style files */


.spacer {
  flex: 1;
}

/* Solution for customizing dropdown icon for select components:
    https://code-boxx.com/dropdown-arrow-css/
*/
.cselect select {
  appearance: none;
}

.cselect {
  position: relative;
}

.cselect::after {
  position: absolute;
  top: 5px;
  right: 5px;
  content: url('http://localhost:4200/assets/chevron-down.svg');
}

.cselect.disabled::after {
  content: url('http://localhost:4200/assets/chevron-down-disabled.svg');
}


select {
  border-width: 2px;
  border-radius: 2px;
  height: 32px;
  font-weight: 600;
  width: fit-content;
  padding-right: 68px;
  padding-left: 12px;
}

select:disabled {
  background-color: white;
  border: 2px solid grey;
  color: grey;
  opacity: 1;
}

input {
  border-width: 2px;
  border-radius: 2px;
  height: 28px;
  font-weight: 600;
  padding-inline: 12px;
  padding-block: 0;
  width: 100%;
  margin: auto;
}

input:disabled {
  background-color: white;
  border: 2px solid grey;
  opacity: 0.7;
}

button {
  border-radius: 2px;
  border-spacing: 0;
  border: 0 transparent;
  height: 32px;
  color: white;
  background-color: #2F85AB;
  font-weight: 600;
  padding-inline: 20px;
  padding-block: 0;
}

button:disabled {
  opacity: 0.5;
}
